#topbox{
    background-color: #ffe7d9;
    height: 30%;
}
#livedetails{
    background-color: #ffe7d9;
}



.hover-color {
    transition   : background-color .2s;
    border-radius: 10px;
  }
.themebg{
background-color: #ffe7d9;
}
.hover-color:hover {
background-color: #ffe7d9;
border-radius   : 10px;
}

